* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./images/background.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-wrapper {
  height: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-icon {
  width: 400px;
  position: absolute;
  top: 0%;
  left: 10%;
  animation: animate 2s ease-in-out infinite alternate-reverse both;
}
@keyframes animate {
  0% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
 i {
  font-size: 80px;
 }
